p Casa of Chãos is a house of granite which origins remount to mid XVII century. Established on Chãos locality, Santa Senhorinha’s parish, town of Cabeceiras de Basto (located 4Km away from the highway), this habitation tourism house has a pleasant placement between Minho and Trás-os-Montes.
p In the proximity of Casa dos Chãos can be found some beautiful landscapes, river beaches, monuments, preserved villages and the flavourful local gastronomy.
p The house is prepared to welcome a family or a group of up to 6 people. It contains three double bedrooms, two fully equipped bathrooms, a wide living room with television and cable channels, wifi and a kitchenette also fully equipped. When necessary, there’s a crib for a baby and a table chair for children. The house has a central system of temperature control, and also a heating salamander in the living room.
p Outside, in the wide surrounding spaces of the house, there is a small tank converted to a pool (10 square meters), a terrace, a barbecue grill, grassed areas, ping-pong table, a swing and slide for children. The view over the village is pleasant, and the environment is restful.