.color-6
p A Casa dos Chãos é uma casa em granito cujas origens remontam a meados do século XVII. Situada no lugar dos Chãos, freguesia de Santa Senhorinha, concelho de Cabeceiras de Basto (a 4 Km da autoestrada A7), esta casa de turismo de habitação tem uma localização favorável entre o Minho e Trás-os-Montes.
p Nas proximidades da Casa dos Chãos encontram-se belas paisagens, praias fluviais, monumentos, aldeias preservadas e acesso a uma vasta e saborosa gastronomia. 
p A casa está preparada para uma família ou grupo de amigos até 6 pessoas. Tem três quartos duplos, duas casas de banho completas, salão amplo com televisão e canais por cabo, acesso à internet (Wi-Fi) e uma kitchenette equipada. Quando necessário, existe possibilidade de uma cama extra para criança e acesso a uma cadeira de mesa para bebé. Toda a casa tem aquecimento central e há ainda uma salamandra a lenha no salão. 
p Nos amplos espaços exteriores da Casa dos Chãos encontram-se um pequeno tanque convertido em piscina (10m2), um terraço, churrasqueira, áreas relvadas, mesa de ping-pong, baloiços e escorrega para crianças. As vistas são agradáveis e o ambiente é sossegado.
